html, body {
  background-color: #e3f7fa;
}

.header2 {
  grid-area: header2;
  border-style: dotted;
  border-color: #61c6de;
  background-color: #fffcfa;
  padding: 2%;
  border-radius: 6px;
  object-fit: fill;
  text-align: center;
}

.header {
  grid-area: header;
  border-style: dotted;
  border-color: #fffcfa;
  background-color: #61c6de;
  text-align: center; 
  font-family: "Times New Roman"; 
  color: #ffffff;
  text-shadow: 0 0 3px #FF7F50, 0 0 5px #FFF8DC;
  padding: 2%;
  border-radius: 5px;
}

nav {
  grid-area: menu;
  border-style: dotted;
  border-color: #fffcfa;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
  text-align: center;
  background-color: #61c6de;
  border-radius: 5px;
}

main {
  grid-area: main;
  border-style: dotted;
  border-color: #61c6de;
  padding: 2%;
  text-align: center;
  background-color: #fffcfa;
  color: #61c6de;
  border-radius: 5px;
}

footer {
  grid-area: footer;
  border-style: dotted;
  background-color: #61c6de;
  text-align: center;
  padding: 2%;
  font-size: 75%;
  color: #fffcfa;
  border-radius: 5px;
}

.wander {
  color: white; 
  font-style: italic;
  text-shadow: 0 0 3px #000000;
}

.midtermins {
  border-style: ridge;
  border-color: #ffdb94;
  letter-spacing: 2px;
}

.para1 {
  background-color: #e3f7fa;
}

#yform {
  font-size: 60%;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}

a:link {
  text-decoration: none;
  color: #ffdb94;
}

a:visited {
  color: #ffeecd;
}

a:hover {
  color: #bf2600;
  font-size: 20px;
  text-transform: uppercase;
}

#lastupdated {
  font-style: oblique;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'header2 header2 header header'
    'menu main main main'
    'menu main main main'
    'footer footer footer footer';
  grid-gap: 2%;
  padding: 2%;
}